*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid;
  border-radius: 4px;
  width: 50%;
}

.btn{
  color: #fff;
  background: green;
  border-radius: 4px;
  padding: 10px;
  height: 50px;
  font-size: 25px;
  margin-top: 20px;
}

.currentPrice{
  color: green;
}

.whatcurrency{
  text-align: center;
  margin-top: 20px;
}

.refreshed{
  margin: 10px;
}

.radios{
  margin: 0 5px;
}
